# This file is used by pip to install required python packages
# Usage: python3 -m pip install -r requirements.txt

# We're a flask application
Flask==1.1.2

# uWSGI
uWSGI==2.0.19.1

# ai prediction requirements
numpy==1.18.5
tensorflow-cpu==2.3.0
